<div class="container">
  <div *ngIf="isReadyToLoad; else loading" >
    <br>
    <div *ngIf="!isEditBoardName; else editName" class="row">
      <div  class="col-md-8 col-sm-10">
          <h4 class="d-inline" >Board Name: {{board.board_name}}</h4>
          <a class="btn btn-outline-light btn-sm" 
          data-toggle="tooltip" data-placement="top" title="edit"
          (click)="editBoardNameClick()">
            <i class="fa fa-pencil"></i>
          </a>
      </div>
    </div>
      <ng-template #editName>
        <form>
          <div class="row">
            <div class="container">
                <label for="boardname" ><h4>Board Name:</h4></label>
                <input type="text" name="boardname" [(ngModel)]="boardNewName" class="">
                <button [disabled]="boardNewName == boardName" (click)="onUpdateBoardName()" class="btn btn-success btn-float btn-sm"><i class="fa fa-check"></i></button>
                <button (click)="isEditBoardName = !isEditBoardName" class="btn btn-danger btn-float btn-sm"><i class="fa fa-remove"></i></button>
            </div>
          </div>
        </form>
      </ng-template>
    <h5>Board Admin: {{ board.admin.first_name }} {{ board.admin.last_name }}</h5>
    <br>
    <table class="table">
      <thead>
        <th>
          Board Members
        </th>
        <th>
          <button [hidden]="!isBoardAdmin" (click)="isAddMembers = true" class="btn btn-outline-danger btn-sm pull-right"><i class="fa fa-plus"> Add Members</i></button>
        </th>
      </thead>
      <tbody>
        <ng-container *ngIf="hasMembers; else noMembers">
        <tr *ngFor="let member of board.board_members">
          <td>
              <i class="fa fa-user"></i>
              {{ member.first_name }} {{ member.last_name}}
          </td>
          <td>
            <div class="pull-right"  data-toggle="tooltip" data-placement="top" title="View Feedbacks">
              <a [routerLink]="['feedbacks/'+member.id]" class="btn btn-info btn-sm">
                <i class="fa fa-comments-o"></i>
              </a>
              <a [hidden]="isBoardAdmin" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#writeFeedback"
                (click)="setFeedbackTo(member)">
                <i class="fa fa-pencil-square-o" data-toggle="tooltip" data-placement="top" title="Write Feedback" ></i>
              </a>
              <a [hidden]="!isBoardAdmin" (click)="onDeleteClick(member.id)" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Remove">
                <i class="fa fa-remove"></i>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
          </td>
        </tr>
        </ng-container>
        <ng-template #noMembers>
          <tr>
            <td colspan="2" class="text-center">Board has no members </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
    <app-write-feedback [toBoard]="board" [feedbackTo]="feedbackTo" ></app-write-feedback>
    <app-add-members *ngIf="isAddMembers" [toBoard]="board.id" (newMembers)="onNewMembers($event)"></app-add-members>        
  </div>
</div>
<ng-template #loading> Loading Board Details.........</ng-template>
